.rasengan{
  width:36vw;
  margin-left: 12.5%;
    animation: logoRotate 1s linear 2s infinite normal both;
  }
  
  @keyframes logoRotate{
    from{
       transform: rotate(0deg)
    }
    to{
      transform: rotate(360deg)
    }
  
  }
  .slide{
    width:50vw;
  }

  .chidori{
    width: 39vw;
    position: relative;
    bottom: 37%;
    right: 31%;
    animation: logoRotate 4s linear 2s infinite normal both;
  }
  
  @keyframes logoRotate{
    from{
       transform: rotate(0deg)
    }
    to{
      transform: rotate(360deg)
    }
  
  }